# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/app/app.*.map.json
/android/google-services.json

# iOS
/ios/Flutter/flutter_assets/flutter_assets
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/

# Web
/web/

# IDE
.vscode/
.idea/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
